*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
    color: cyan;
}

h3{
    color: cyan;
}

nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 15px;
}

nav a:hover{
    color: greenyellow;
}

section{
    background-color: greenyellow;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 5px outset cornflowerblue;
}

section:hover{
    border: 5px outset aliceblue;
}

#inicio{
    background-color: cornflowerblue;
}

.cabecalho{
    text-align: center;
}

main{
    max-width: 900px;
    margin: auto;
}