body{
    background-color: darkgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
    color: cyan;
}

h3{
    color: cyan;
}

nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 15px;
}

section{
    background-color: greenyellow;
    padding: 20px;
    margin: 20px;
}

#inicio{
    background-color: cornflowerblue;
}

.cabecalho{
    text-align: center;
}